# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Config files
*.yaml

# Infrared test configs for debuging localy
/cmd/infrared/configs

# Infrared binary on linux - this IS A FILE not a folder
/cmd/infrared/infrared
